body{
	background-color:#ededed;
}

img{
	max-width:100%;
}

.gutter-bottom{
	margin-bottom: $grid-gutter-width;
}

.gutter-bottom-half{
	margin-bottom: $grid-gutter-width / 2;
}

.gutter-top{
	margin-top: $grid-gutter-width;
}

.gutter-top-half{
	margin-top: $grid-gutter-width / 2;
}

// Import Plumi header styles
@import "plumi/header";

// Import Plumi content styles
@import "plumi/main";

// Import Plumi footer styles
@import "plumi/footer";