@import "compass/layout/sticky-footer";

footer{
	/* background:#fff; */
}

#footer{
	font-size:$font-size-small;
	padding: $grid-gutter-width 0;
	border-top:1px solid #e6e6e6;
	background-color:#fff;
	/* color:#fff;
	background-color:#222; */
}

.footer-box{
	margin-top: $grid-gutter-width/2;
	border-right:1px solid #e6e6e6;
	&.footer-box-first{
		border-right:0;
		padding-right:1px;
		img{
			margin:0 0 ($grid-gutter-width/2) ($grid-gutter-width/2);
		}
	}
	@media (max-width: $screen-sm-max) {
		border-right:0;
		border-bottom:1px solid #e6e6e6;
		&.footer-box-last{
			border-bottom:0;
		}
		&.footer-box-first{
			padding-right:0;
			img{
				margin:0 0 $grid-gutter-width 0;
			}
		}
	}
}

.footer-title{
	font-weight:bold;
	font-size:$font-size-base;
	margin-bottom: $grid-gutter-width/2;
	margin-top:0;
}

.footer-list{
	list-style:none;
	margin:0 0 ($grid-gutter-width/2) 0;
	padding:0 0;
	li{
		margin-bottom: $grid-gutter-width/2;
	}
}

.bottom{
	background:#fff;
}

.bottom-inner{
	font-size:$font-size-small * 0.9;
	/* background-color:#ededed; */
	border-top:1px solid #e6e6e6;
	padding: ($grid-gutter-width/4) ($grid-gutter-width/2) ($grid-gutter-width/2);
	color:$gray-light;
	@media (max-width: $screen-sm-max) {
		padding-left:0;
		padding-right:0;
	}
	a{
		color:$gray-light;
		&:hover{
			color:$text-color;
		}
	}
	.plumi-logo{
		display:inline-block;
		height:20px;
		width:47px;
		position:relative;
		top:5px;
		left:0;
		background-position:center;
		background-repeat:no-repeat;
		background-image: url("../images/plumi-gray.png");
	}

	a:hover > .plumi-logo{
		background-image: url("../images/plumi-dark.png");
	}
}