#header{
	background-color:#fff;
	border-bottom:1px solid #e6e6e6;
}

.header-inner{
	position:relative;
	display:table;
	width:100%;
	height:$navbar-height;
}

.logo{
	display:inline-block;
	margin-top:7px;
	height:36px;
	// vertical-align:middle;
	img{
		display:block;
		height:100%;
	}
}

.header-buttons{
	text-align:right;
	display:table-cell;
	vertical-align:middle;
	.btn{
		font-weight:bold;
		margin-left: $grid-gutter-width / 3;
	}
}